.App {
  text-align: center;
}

.mainComp {
  border: 2px solid gray;
  width: 500px;
  height: 350px;
  margin: 50px auto 0px;
}

.mainComp > h1:last-child {
  color: green;
  margin-top: 40px;
}

.mainComp > button {
  padding: 5px;
}